# Python artifacts
__pycache__/
*.py[cod]
*$py.class
.venv/

# Mapping and Data outputs
*.html
*.log
data/*.csv
data/*.json
!data/.gitkeep

# Environment and Secrets
.env
.ssh/

map_*.html


data/

*.pyc
